

{{>layouts/header}}  <!-- 불러올 때 '>' 쓴다-->

 <!--본문 -->

    <div class="bg-dark text-white p-5">
        <!--<h1>정원님, 반갑습니다.</h1>-->
        <h1>{{username}}, 반갑습니다.</h1>  <!-- 넘겨진 값은 {,{},} 안에서 불러옴 -->
    </div>

{{>layouts/footer}}