<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
</head>
<body>
  <h2 th:text="${board.title}"></h2>
  <p><strong>작성자:</strong><span th:text="${board.writer}"></span></p>
  <p><strong>내용:</strong></p>
  <p th:text="${board.content}"></p>
  <p><strong>작성일:</strong>
    <span th:text="${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')}"></span>
  </p>
  <a th:href="@{/boards/edit/{id}(id=${board.id})}">수정</a>
  <form style="display:inline" th:action="@{/boards/delete/{id}(id=${board.id})}" method="post">
      <button type="submit">삭제</button>
  </form>
  <form style="display:inline" th:action="@{/boards}" method="post">
      <button type="submit">목록</button>
  </form>
</body>
</html>