<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판을 작성해보자</title>
</head>
<body>
<h1>글 수정</h1>
<form th:action="@{/boards/edit/{id}(id=${board.id})}" th:object="${board}" method="post">
  <p>제목: <input type="text" th:field="*{title}"/></p>  <!--th:field = id와 name값을 동시에 넣을 때-->
  <p>내용:<textarea th:field="*{content}"></textarea></p>
  <p>작성자: <input type="text" th:field="*{writer}" disabled/></p>
  <button type="submit">수정</button>
</form>
</body>
</html>