<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>게시판목록</h2>
  <a th:href="@{/new}">글 작성</a>
<table border="1">
  <tr>
    <th>ID</th><th>제목</th><th>작성자</th><th>날짜</th>
  </tr>
  <tr th:each="board : ${boards}">
    <td th:text="${board.id}"></td>
    <td><a th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.title}"></a></td>
    <td th:text="${board.writer}"></td>
    <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
    <td>
      <a th:href="@{/boards/edit/{id}(id=${board.id})}">수정</a>
      <a th:href="@{/boards/delete/{id}(id=${board.id})}"
         onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
    </td>
  </tr>

</table>
</body>
</html>