<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>게시판 목록</h2>
    <a th:href="@{/new}">게시글 작성</a>
    <table border="1">
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
        <th>수정 &#47; 삭제</th>
        <tr th:each="board : ${boards}">
            <td th:text="${board.title}"></td>
            <td th:text="${board.content}"></td>
            <td th:text="${board.writer}"></td>
            <td><a th:href="@{'/' + ${board.id} + '/edit'}" style="display:inline-block; margin-right:5px">수정 &#47;</a>

                <form th:action="@{'/' + ${board.id} + '/delete'}" method="post" style="display:inline;">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
